[Unit]
Description=Fincubes FastAPI app
After=network.target docker.service
Requires=docker.service


[Service]
User=root
WorkingDirectory=/root/fincubes-fastapi
ExecStart=doppler run -- "/usr/bin/docker run --network=host -v /home/ruvds/fincubes-logs:/app/logs --name fincubes-fastapi fincubes-fastapi"
ExecStop=/usr/bin/docker stop fincubes-fastapi
ExecStopPost=/usr/bin/docker rm fincubes-fastapi
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
