[Unit]
Description=Next.js frontend for fincubes
After=network.target

[Service]
User=root
WorkingDirectory=/root/fincubes-nextjs
Environment=NODE_ENV=production
Environment=PORT=3000
ExecStart=/bin/bash -c "source /root/.nvm/nvm.sh && nvm use 24.12.0 &&  doppler run -- npm run start"
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
